!!! 5
html(lange="en")

	head
		include meta

		//Favicon
		link( rel="shortcut icon", href="/favicon.ico")
		link( rel="apple-touch-icon", href="/apple-touch-icon.png")

		link( rel="stylesheet", media="screen", href="styles/main.css")


		//RSS TODO


	body.home
		.container
		.background#Background
		.overlay#Overlay

		.question#Question
			.text#QuestionText What's your intention for today?

		//.enter
			.text Press Enter To Set your intention


		.intention#Intention
			.text#IntentionText
			input.input#IntentionInput( autofocus, placeholder='— Enjoy flying through the air.')

		.controls#Controls
			.add-image#AddImageButton
				.icon#AddImageIcon( state="click" )
				.text#AddImageText Use image from url
				input.input#AddImageInput

		.more#More
			.info
			.credits#Credits
				p We are powerful beings.
				p But only when we focus our attention is when we can truly leverage that power. One good way to help us focus our attention is to set intentions. Intentions are different than goals. Goals require a specific outcome. Intentions are succeded on the present, second after second.
				p &#x2661;

				a(href="http://unsplash.com/", title="Beautiful Photos by Unsplash") Lovely Photos by Unsplash
				a(href="http://bernatfortet.com/", title="Bernat Fortet Unanue") Hacked by Bernat Fortet with love from San Francisco.
			


		#Scripts

			script( src="scripts/lib/jquery.min.js" )
			script( src="scripts/lib/jquery-ui.min.js" )
			script( src="scripts/lib/jquery.transit.min.js" )
			script( src="scripts/lib/jwerty.js" )
			script( src="scripts/lib/mongolab.js" )
			script( src="scripts/lib/moment.min.js" )
			script( src="scripts/lib/autogrow.js" )


			script( src="scripts/background.js")
			script( src="scripts/controls.js")
			script( src="scripts/question.js")
			script( src="scripts/intention.js")
			script( src="scripts/database.js")

			script( src="scripts/app.js")

			script( src="scripts/main.js")